:root{
    /* colors */
    --primary-color: hsl(233, 47%, 7%);
    --secondary-color: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    /* fonts */
    --ff-Inter: 'Inter', sans-serif;
    --ff-Lexend-Deca: 'Lexend Deca', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*General styling*/

  body{
    background-color: var(--primary-color);
    color: white;
    font-family: var(--ff-Inter);
    font-size: 15px;
    height: 100vh;
    display: grid;
    place-content: center;
    margin: 1.5rem;
  }

  p{
    color:hsla(0, 0%, 100%, 0.75);
  }
  span{
    color: var(--accent-color);
  }

  article{
    min-width: 375px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    overflow: hidden;
  }

  .main-photo{
    position: relative;
    grid-area: photo;
  }

  .bg-photo{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(277, 64%, 30%);
    opacity: 50%;
  }
  
  .body-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
    gap: 1rem;
    grid-area: body;
  }

  h1{
    line-height: 2rem;
    font-size: 26px;
  }

  .stats{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }

  .stats  p{
    text-transform: uppercase;
    font-size: 12px;
  }

  .attribution { 
    font-size: 11px; 
    text-align: center; 
}
  .attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 600px){
 
    article{
        display: grid;
        grid-template-columns: 540px 540px;
        grid-template-areas: "body photo";
    }

    .body-card{
        display: flex;
        text-align: left;
        gap: 3rem;
        padding-left: 3rem;
        padding-right: 4rem;
    }

    .stats{
        display: flex;
        flex-direction: row;
        padding-right: 3rem;
        gap: 4rem;
    }
    h1{
        line-height: 2.5rem;
        font-size: 34px;
  }
}


  